In [50]:
import pandas as pd

In [51]:
#count_data_load = 'new_count_df.csv'
#new_date_load = 'new_date_df.csv'
#new_location_load = 'new_location_df.csv'
violence_count_load = 'violence_count_df.csv'

#new_count_df = pd.read_csv(count_data_load)
#new_data_df = pd.read_csv(new_date_load)
#new_location_df = pd.read_csv(new_location_load)
violence_count_df = pd.read_csv(violence_count_load)

# Violence Data Cleaning

In [52]:
violence_count_df.head()

,INCIDENT_REPORT_ID,DIVISION_ID,PLACE_TYPE_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_CODE,CITY_NEW,VIOLENCE
0,20220513-2308-01,2,Retail,Open,899,Charlotte,non-violent
1,20220513-2024-00,22,Retail,Open,23C,Charlotte,non-violent
2,20220513-2022-03,28,Public/Non-Residential,Open,899,Charlotte,non-violent
3,20220513-2012-00,1,Residential,Exceptionally Cleared,899,Charlotte,non-violent
4,20220513-1958-01,22,Residential,Open,801,Charlotte,violent

In [53]:
violence_count_df["CLEARANCE_STATUS"].unique()

array(['Open', 'Exceptionally Cleared', 'Cleared by Arrest', 'Unfounded',
       'Cleared by Arrest by Another Agency'], dtype=object)

In [54]:
violence_count_df["PLACE_TYPE_DESCRIPTION"].unique()

array(['Retail', 'Public/Non-Residential', 'Residential',
       'Commercial Place', 'Open Area'], dtype=object)

In [55]:
violence_count_df["HIGHEST_NIBRS_CODE"].unique()

array(['899', '23C', '801', '13B', '800', '803', '13C', '120', '90Z',
       '23D', '23G', '13A', '210', '26A', '23H', '26E', '35A', '26F',
       '23F', '250', '270', '240', '220', '520', '290', '23A', '802',
       '11D', '26B', '35B', '100', '23B', '90J', '26C', '09A', '370',
       '280', '26G', '807', '809', '99Z', '200', '90D', '99Y', '90F',
       '11A', '11C', '90C', '40A', '11B', '810', '90H', '90G', '64A',
       '36B', '23E', '720', '90A', '804', '09B', '09C', '64B', '90B',
       '26D', '36A', '40C', '40B', '39B', '806', '39C', '39A', '510'],
      dtype=object)

In [56]:
violence_count_df["CITY_NEW"].unique()

array(['Charlotte', 'Matthews', 'Mecklenburg', 'Pineville',
       'Huntersville', 'Mint Hill', 'Midland', 'Cornelius', 'Davidson',
       'Fort Mill', 'Ballantyne', 'Mount Holly', 'Concord'], dtype=object)

In [61]:
violence_count_df['PLACE_TYPE_DESCRIPTION'].replace(["Residential", "Retail", "Commercial Place", "Public/Non-Residential", "Open Area"], [1,2,3,4,5], inplace=True)
violence_count_df['CLEARANCE_STATUS'].replace(["Open", "Exceptionally Cleared", "Cleared by Arrest", "Unfounded", "Cleared by Arrest by Another Agency"], [1,2,3,4,5], inplace=True)
violence_count_df['HIGHEST_NIBRS_CODE'].replace(['899', '23C', '801', '13B', '800', '803', '13C', '120', '90Z',
       '23D', '23G', '13A', '210', '26A', '23H', '26E', '35A', '26F',
       '23F', '250', '270', '240', '220', '520', '290', '23A', '802',
       '11D', '26B', '35B', '100', '23B', '90J', '26C', '09A', '370',
       '280', '26G', '807', '809', '99Z', '200', '90D', '99Y', '90F',
       '11A', '11C', '90C', '40A', '11B', '810', '90H', '90G', '64A',
       '36B', '23E', '720', '90A', '804', '09B', '09C', '64B', '90B',
       '26D', '36A', '40C', '40B', '39B', '806', '39C', '39A', '510'], [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72], inplace=True)
violence_count_df['CITY_NEW'].replace(['Charlotte', 'Matthews', 'Mecklenburg', 'Pineville',
       'Huntersville', 'Mint Hill', 'Midland', 'Cornelius', 'Davidson',
       'Fort Mill', 'Ballantyne', 'Mount Holly', 'Concord'], [1,2,3,4,5,6,7,8,9,10,11,12,13], inplace=True)

In [62]:
violence_count_df.head(20)

,INCIDENT_REPORT_ID,DIVISION_ID,PLACE_TYPE_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_CODE,CITY_NEW,VIOLENCE
0,20220513-2308-01,2,2,1,1,1,non-violent
1,20220513-2024-00,22,2,1,2,1,non-violent
2,20220513-2022-03,28,4,1,1,1,non-violent
3,20220513-2012-00,1,1,2,1,1,non-violent
4,20220513-1958-01,22,1,1,3,1,violent
5,20220513-1943-02,2,1,1,4,1,violent
6,20220513-1848-00,22,1,1,5,1,violent
7,20220513-1847-04,27,1,1,6,1,violent
8,20220513-1836-01,2,3,1,7,1,non-violent
9,20220513-1822-00,17,2,1,8,1,violent
10,20220513-1819-00,7,1,1,9,1,non-violent
11,20220513-1811-00,14,5,1,10,1,violent
12,20220513-1807-01,22,3,1,11,1,violent
13,20220513-1805-00,2,1,1,12,1,violent
14,20220513-1804-00,27,1,1,4,1,violent
15,20220513-1803-00,2,1,1,13,1,non-violent
16,20220513-1756-03,26,3,1,14,1,non-violent
17,20220513-1739-03,1,1,1,12,1,violent
18,20220513-1739-00,14,3,1,15,1,non-violent
19,20220513-1735-02,7,1,1,16,1,non-violent

In [66]:
violence_count_df.to_csv('violence_ml_df.csv', index=False)